@use '../Global/color' as *;

.main {
    background-color: $darkbrack;
    height: 100%;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: $darkgray;
    color: $button-color-light;
}

.sidebar {
    width: 75px;
    background-color: $darkbrack;
    padding: 0px;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 0px;
            color: $nomalgray;
            font-weight: bold;
            font-size: 10px;

            svg {
                font-size: 35px;
            }
        }
    }
}

.active {
    background-color: $lightbrack;
    color: #fff;
}

.yy {
    display: flex;
    flex: 1;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;

    h2 {
        margin-bottom: 10px;
    }

    p {
        line-height: 1.6;
    }
}
