@use '../Global/color' as *;

.main {
    background-color: $darkblack;
    height: 100%;
    overflow: hidden;
}

.rightsidebar {
    height: 90vh;
    width: 285px;
    background-color: $darkgray;
    position: fixed;
    right: 0;
    top: 10vh;
}