@use '../Global/color' as *;

.sidebar{
    display: flex;
}

.tab {
    display: flex;
    width: 86px;
    height: 90vh;
    background-color: $darkblack;

    ul {
        //元々のpaddingをリセット
        padding-left: 0;

        li {
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;

            height: 81px;
            width: 86px;
            cursor: pointer;
            color: $normalgray;
            font-weight: bold;
            font-size: 10px;

            svg {
                font-size: 37px;
            }

            span {
                font-size: 27.75px;
            }
        }

        .active {
            background-color: $lightblack;
        }        
    }
}

